.min-height{
    min-height: 80vh;
}
.form-errors{
    color: red
    
}

.form-all{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 5%;
    padding: 30px;
    .form-section-left{
        margin: 10px;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        width: 350px;
        p{
            margin-bottom: 10px;
        }
        small{
            margin: 10px 0;
            display: inline;
            text-align: right;
            
            a{
                text-align: right;
                font-size: 14px;
            }
        }
    }
    
    h3 {
        color: red;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        /*top right bottom left*/
        margin: 15px 0;
    }
    
    .form-login{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        
        .input-name-divs{
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            width: 100%;
            input{
                width: 100%;
                margin: 5px 0;
                box-sizing: border-box;
            }
            .input-fname{
                margin-right: 7px;
            }
        }

        input {
            background-color: white;
            border: 1px solid #999;
            border-radius: 3px;
            padding: 5px 9px;
            margin: 5px 0;
            width: 100%;
            box-sizing: border-box;
        }
        .input-blue{
            background-color: #e8f0fe
        }
        .form-btn{
            background: #d32323;
            width: 100%;
            color: white;
            border-radius: 3px;
            font-weight: bold;
            padding: 10px 13px;
            font-size: 16px;
            border: 1px solid #d32323;
            cursor: pointer;
        }
        small {
            text-align: right;
            a{
                font-size: 12px;
            }
        }
        .small-swap-text{
            font-size: 12px;
            color: #999;
            display: inline-block;
            align-self: flex-end;
            a{
                text-decoration-line: none;
                font-size: 12px;
            }
        }
    }
    .form-image-right{
        margin: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: image-url('signup_illustration.png');
        width: 50%;
        height: 400px;
        align-self: auto;
    }
}

.form-warning-message{
    line-height: 1.5em;
    font-size: 12px;
    p{

        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;  
    }
}

.hr-line {
    border: none;
    border-top: 1px solid lightgray;
    margin: 10px 0;
    width: 40%;
    display: inline-flex;
    align-self: flex-start;
}


.hr-line-parent{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    .hr-line{
        border: none;
        border-top: 1px solid lightgray;
        margin: 10px 0;
        display: inline-flex;
        align-self: flex-start;
    }
    > div {
        width: 45%;

    }
    div:nth-child(2){
        align-self: flex-end;
        width: 45%;
    }
    legend{
        margin: 0 15px;
    }
}
    legend {
        font-size: 1em;
        padding: 0 15px;
        color: #666;
        text-align: center;
    }


