#navbar-user {
    background: #d32323;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    #user-avatar {
        height: 50px;
    }
}

#navbar-form{
    background: #d32323;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    ul{
        display: flex;
        flex-direction: row;
        color: white;
        li{
            margin: 0 10px;
            padding: 7px;
            a{
                color: white;
                font-weight: bold;
                text-decoration-line: none;
                padding: 7px;
                
            }
            a:hover{
                border-bottom: 2px solid white;
            }
        }
        li:nth-child(2){
            border: 2px solid white;
            border-radius: 3px;
            a:hover{
                color: gray;
            }
        }
        
    }
    div{
        display: flex;
        justify-content: space-around;
        h2{
            margin-right: 10px;
        }
    }
    #logout-btn {
        box-sizing: border-box;
       background-color: transparent;
       font-family: 'Roboto', sans-serif;
       border: none;
       cursor: pointer;
       color: white;
       font-weight: bold;
       font-size: 16px;
       margin-left: 5px;
       &:hover {
           border: 2px solid white;
       }
    }
}

.logo-div {   
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: image-url('yelp_logo.png');
}