.restaurant-index-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    .restaurant-index-h3 {
        text-align: center;
        color: red;
        padding-top: 10px;
        font-weight: bold;
    }
    .restaurant-card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.card {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid lightgray;
    width: 300px;
    height: 300px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    .card-photo{
        height: 180px;
        width: 97%;
        overflow: hidden;
    }

    .card-content{

        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        padding: 7px;
        div{
            margin: 5px 0;
        }
        .star-n-num-review-container{
            display: flex;
            align-items: center;
            div{
                margin-right: 12px;
            }
        }
    }
}