.show-content-container{
    padding: 40px;
    h1{
        font-size: 36px;
    }
    .header-restaurant{
        display: flex;
        * {
            margin: 10px 0;
        }
    }
    .show-restaurant-content{
        display: flex;
        justify-content: space-between;
    }

    .hour-container {
        .hour-h2{
            color: red;
            margin: 12px 0;
        }
        th{
            padding-right: 10px;
            font-weight: bold;
        }
        position: absolute;
        right: 10px;
        font-size: 14px;
    }
}

.link-btn {
    cursor: pointer;

    border: 1px solid lightgray;
    color: lightgray;
    padding: 2px;
    &:hover {
        color: black;
        border: 1px solid gray;
        transition: color 1s, border 1s
    }
}