.show-content-container{
    padding: 40px;
    h1{
        font-size: 36px;
    }
    .header-restaurant{
        display: flex;
        * {
            margin: 10px 0;
        }
    }
    .show-restaurant-content{
        
        display: flex;
        justify-content: space-between;
        .show-restaurant-location-detail{
            border: 1px solid lightgray;
            padding: 10px;
            font-size: 14px;
            width: 250px;
        }
        .gMap-show{
            height: 135px;
            border: 1px solid lightgray;
            margin: 5px 0;
            p{
                display: inline;
                text-align: center;
                vertical-align: 50%
            }
        }
    }
    .show-photo-div{
        .img-show{
            width: 250px;
            height: 220px;
        }
    }

    .hour-container {
        border-left: 1px solid lightgray;
        padding: 12px;
        .hour-h2{
            color: red;
            margin: 12px 0;
        }
        th{
            padding-right: 10px;
            font-weight: bold;
        }
        position: relative;
        left: 770px;
        font-size: 14px;
        width: fit-content;
    }
}

.link-btn {
    cursor: pointer;

    border: 1px solid lightgray;
    color: lightgray;
    padding: 3px;
    font-size: 14px;
    &:hover {
        color: black;
        border: 1px solid gray;
        transition: color 0.5s, border 0.5s;
    }
}