.show-content-container{
    padding: 40px;
    background-color: ghostwhite;
    min-height: 80vh;
    h1{
        font-size: 36px;
    }
    .header-restaurant{
        display: flex;
        justify-content: space-between;
        * {
            margin: 10px 0;
        }
    }
    .show-restaurant-content{
        
        display: flex;
        justify-content: space-between;
        .show-restaurant-location-detail{
            border: 1px solid lightgray;
            font-size: 14px;
            
        }
        
        .show-restaurant-address{
            height: auto;
            padding: 12px;
            *{
                margin: 2px 0;
            }
            i{
                height: 100%;
            }
            p{
                margin-left: 22px;
            }
        }
        .show-photo-collection{
            display: flex;
            flex-direction: row;
        }
    }
    .show-photo-collage{
        position: relative;
        height: 280px;
        width: 270px;
        .img-div-two{
            img{
                width: 50%;
                height: 50%;
            }
        }
        .span-cover-collage{
            position: absolute;
            top: 95px;
            left: 90px;
            i{
                color: red;
            }
        }
        
    }
    .show-photo-div{
        transition: transform .2s;
        position: relative;
        .img-show{
            width: 250px;
            height: 220px;
            
        }
        &:hover{
            transform: scale(1.25);
            z-index: 1;
            .show-photo-caption{
                opacity: 1;
            }
        }
        .show-photo-caption{
            opacity: 0;
            .show-caption{
                padding: 2px;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                color: white;
                z-index: 1;
                background-color: #302e29;
                opacity: 0.8;
                position: absolute;
                top: 200px;
                width: 100%;
                         
            }
            &:hover {
                opacity: 1;
            }
        }
    }

    .hour-container {
        border-left: 1px solid lightgray;
        padding: 12px;
        .hour-h2{
            color: red;
            margin: 12px 0;
        }
        th{
            padding-right: 10px;
            font-weight: bold;
        }
        
        font-size: 14px;
        width: fit-content;
    }
}

.link-btn {
    cursor: pointer;
    border: 1px solid lightgray;
    color: lightgray;
    padding: 3px;
    font-size: 14px;
    &:hover {
        color: black;
        border: 1px solid gray;
        transition: color 0.5s, border 0.5s;
    }
}

.delete-initializer{
    padding: 5px 9px;
    border: 1px solid darkred;
    border-radius: 6px;
    color: white;
    background-color: red;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

