.star-rating {
    background-image: image-url('yelp_star_sheet.png');
    background-repeat: no-repeat;
    
    
}

.single-star-unfilled{
    height: 24px;
    width: 24px;
    background-position-y: 0px;
}

.single-star-filled{
    height: 24px;
    width: 24px;
    background-position-y: -24px;
}


.star-lg{
    width: 140px;
}
.five-lg{
    height: 24px;
    background-position-y: -216px;
}

.four_five-lg{
    height: 24px;
    background-position-y: -192px;
}

.four-lg{
    height: 24px;
    background-position-y: -168px;
}
.three_five-lg{
    height: 24px;
    background-position-y: -144px;
}
.three-lg{
    height: 24px;
    background-position-y: -120px;
}
.two_five-lg{
    height: 24px;
    background-position-y: -96px;
}
.two-lg{
    height: 24px;
    background-position-y: -72px;
}
.one_five-lg{
    height: 24px;
    background-position-y: -48px;
}
.one-lg{
    height: 24px;
    background-position-y: -24px;
}
.zero-lg{
    height: 24px;
    background-position-y: 0px;
}



.star-reg{
    width: 102px;
}
.zero-reg {
    height: 18px;
    background-position-y: -240px;
}

.one-reg {
    height: 18px;
    background-position-y: -258px;
}
.one_five-reg {
    height: 18px;
    background-position-y: -276px;
}
.two-reg {
    height: 18px;
    background-position-y: -294px;
}
.two_five-reg {
    height: 18px;
    background-position-y: -312px;
}
.three-reg {
    height: 18px;
    background-position-y: -330px;
}
.three_five-reg {
    height: 18px;
    background-position-y: -348px;
}
.four-reg {
    height: 18px;
    background-position-y: -366px;
}
.four_five-reg {
    height: 18px;
    background-position-y: -384px;
}
.five-reg {
    height: 18px;
    background-position-y: -402px;
}