#myModal {
    width: 260px;
    position: absolute;
    top: 65px;
    left: -140px;
    z-index: 1;
}

.user-modal-container {
    position: relative;
}

.user-modal{
    display: flex;
    cursor: pointer;
    div{
        background-color: #bd1f1f;
        span {
            font-size: 20px;
            color: white;
            position: relative;
            top: 25%;
        }
        &:hover{
            background-color: maroon;
            transition: background-color 0.5s;
        }
    } 
}


.inner-user-modal {
    display: flex;
    div {
        padding: 8px;
    }
}

.modal-content {
    padding: 12px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    hr{
        margin: 10px 0;
        border: none;
        border-bottom: 1px solid lightgray;
    }
    img{
        width: 80px;
        height: 80px;
    }

    .modal-logout-btn{
        background: transparent;
        color: blue;
        border: none;
        font-size: 14px;
        &:hover {
            text-decoration-line: underline;
            cursor: pointer;
        }
        
    }
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
