#myModal {
    width: 260px;
    position: absolute;
    top: 65px;
    left: -140px;
    z-index: 1;
}

.user-modal-container {
    position: relative;
}

.user-modal{
    display: flex;
    cursor: pointer;
    div{
        background-color: #bd1f1f;
        span {
            font-size: 20px;
            color: white;
            position: relative;
            top: 25%;
        }
        &:hover{
            background-color: maroon;
            transition: background-color 0.5s;
        }
    } 
}


.inner-user-modal {
    display: flex;
    div {
        padding: 8px;
    }
}

.modal-content {
    padding: 12px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    hr{
        margin: 10px 0;
        border: none;
        border-bottom: 1px solid lightgray;
    }
    img{
        width: 80px;
        height: 80px;
    }

    .modal-logout-btn{
        background: transparent;
        color: blue;
        border: none;
        font-size: 14px;
        &:hover {
            text-decoration-line: underline;
            cursor: pointer;
        }
        
    }
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.delete-modal-container{
    position: relative;
    .modal{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);
    }
    .delete-modal-prompt{
        text-align: center;
        width: 350px;
        height: 250px;
        position: absolute;
        background-color: #f1f1f1;
        left: -510px;
        z-index: 2;
        top: 80px;
        border-radius: 10px;
        border: 1px solid rgb(187,187,187);
        span{
            color: red;
            font-size: x-large;
        }
        .delete-modal-button-container {
            display: flex;
            justify-content: center;
            margin-top: 100px;

            button{
                background-color: red;
                margin: 12px 6px;
                padding: 7px;
                color: white;
                font-weight: bold;
                border-radius: 5px;
                cursor: pointer;
                font-size: large;
                width: 100px;
                border: 2px solid black;
                &:nth-child(2){
                    background-color: green;
                }
            }
        }
    }
}